<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>course.user.filter.AuthFilter</filter-class>
    </filter>

    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>course.user.filter.LoginFilter</filter-class>
    </filter>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>course.common.filter.EncodingFilter</filter-class>
    </filter>

    <!--
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>
    -->

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!--<security-constraint>
        <web-resource-collection>
            <web-resource-name>thetis-1</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>-->

</web-app>
